.container {
  width: 100px;
  height: 100px;
  background-color: blue;
}

.container-dois {
  width: 100px;
  height: 100px;
  background-color: pink;
}

@media (max-width: 768px) {
  .container {
    background-color: purple;
    visibility: hidden;
  }
}

@media (min-width: 768px) and (max-width: 996px) {
  .container {
    background-color: pink;
  }
}