.container {
  width: 100px;
  height: 100px;
  background-color: red;
  animation: animacao linear 1s infinite alternate;
}

@keyframes animacao {
  0% {
    background-color: red;
  }

  50% {
    width: 150px;
    height: 100px;
    background-color: blue;
  }

  100% {
    width: 200px;
    height: 200px;
    background-color: green;
  }
}