* {
  color: white;
  font-size: 30px;
}

.container {
  /* width: 400px; */
  height: 800px;
  background-color: pink;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* flex-direction: column; */
  align-items: center;
  /* align-content: center; */
  justify-content: center;
}

.container > div {
  padding: 50px;
  /* max-width: 50px; */
  background-color: blue;
}

.container > div:nth-child(3) {
  align-self: flex-start;
  order: 2;
}

.container > div:nth-child(5) {
  order: 1;
}

.container > div:last-child {
  order: -1;
  /* flex-grow: 3; */
}